bin/
proxy/obj/Debug/
receiver/obj/Debug/
tests/obj/Debug/
viewer/obj/Debug/
proxy/obj/Release/
receiver/obj/Release/
viewer/obj/Release/
tests/obj/Release/
tests/BenchmarkDotNet.Artifacts/
obj/
*.sln
vnc-server/bin/
vnc-server/obj/
Retranslator/bin/
Retranslator/obj/
